<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/resolved.css">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">CMS</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/finance" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="form.html">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Raise an Issue</span>
                </a>
            </li>
            <li>
                <a href="/urgent">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Urgent Need</span>
                </a>
            </li>
            <li>
                <a href="/resolved">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Resolved</span>
                </a>
            <li>
                <a href="https://ancient-journey-82562.herokuapp.com/">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Chat</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>
            
            <!-- DropDown -->
            <div class="dropdown">
                <button class="dropbtn">Account
                </button>
                <div class="dropdown-content">
                    <a class="button1" href="/urgent">Finance</a>
                    <a class="button2" href="/urgentT">Transportation</a>
                    <a class="button3" href="/urgentA">Accounting</a>
                    <a class="button4" href="/urgentG">Basic problems</a>
                </div>
        </nav>

        <div class="home-content">
            <!-- Resolved issues wala box -->
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">Urgent Issues</div>
                    <br>
                    <div class="sales-details">
                        <ul class="details">
                            <li class="topic">Date</li>
                            <% problems.forEach(function(item){ %>
                                <li><a class="date" href="#"><%=item.Date%></a></li>
                                <% }); %>
                        </ul>
                        <ul class="details">
                            <li class="topic">Issues</li>
                            <%   problems.forEach(function(item){ %>
                                <li><a id="newPrb" class="issue1" href="/chats/<%=item.Issues%>"><%= item.Issues%> </a></li>
                             <%   }) %>
                        </ul>
                            
                         
                        <ul class="details">
                            <li class="topic status">Location</li>
                            <% problems.forEach(function(item){ %>
                                <li><a class="location3" href="#"><%= item.Location %></a></li>
                                <% });%>
                        </ul>
                    </div>
            </div>
        </div>
    </section>


    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="javascript/index.js"></script>
</body>

</html>
